<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>ek choti si baat</h1>
    <p>This year we make some memory that my brain memory not wanna loss, thank you for your efforts.
        not just for me , apni buddy ka dhyan rkhi, and bohot hua . our meetup 6july is such an amazing day for me, vho 7:53 hours .. i just wanna shri hari tumhe bohot khusiya de!
    </p>


    <nav>
        <a href="/">Home</a> | 
        <a href="/about">About</a> | 
        <a href="/gallery">Gallery</a> | 
        <a href="/message">Leave a Message</a>
    </nav>
</body>
</html>
